.box{
    position: relative;
    margin: 5% auto;
    width: 80%;
    height: 75vh;
    border: 3px solid #7f7f7f;
}

.effect-1{
    position: absolute;
    height: 205px;
    width: 210px;
    background-color: #3f404a;
    right: -135px;
    top: 120px;
    border-radius: 100px;
    transform: rotate(40deg);
    clip-path: polygon(0 0, -9% 0, 73% 100%, 0 100%);
    /* box-shadow: 10px 8px 9px 9px rgb(59, 59, 59) */
}
.effect-2{
    position: absolute;
    height: 200px;
    width: 250px;
    background-color:#ed8666;
    bottom: -100px;
    right: 150px;
    border-radius: 80px;
    transform: rotate(47deg);
    z-index: 2;
    clip-path: polygon(0 0, 87% 0, 13% 100%, 0 100%)
}