.box {
  position: relative;
  margin: 2% auto;
  width: 80%;
  height: 85vh;
  border: 3px solid #7f7f7f;
  background: var(--secondary);
  padding: 20px;
}

.effect-1 {
  position: absolute;
  height: 205px;
  width: 210px;
  background: linear-gradient(to right, #3f414b, #444752);
  right: -134px;
  top: 120px;
  border-radius: 100px;
  transform: rotate(40deg);
  clip-path: polygon(0 0, -9% 0, 73% 100%, 0 100%);
  box-shadow: 9px -8px 11px 0px rgba(0, 0, 0, 0.9);
}
.effect-2 {
  position: absolute;
  height: 200px;
  width: 250px;
  background: linear-gradient(to right, #ef9073, #ea7a58);
  bottom: -101px;
  right: 150px;
  border-radius: 90px;
  transform: rotate(47deg);
  z-index: 2;
  clip-path: polygon(0 0, 87% 0, 12% 100%, 0 100%);
}
